.landing_page_container {
  display: flex;
  width: 100vw;
  height: 100%;
  flex-direction: column;
  &_one {
    width: 100vw;
    height: 100vh;
    background-color: #040d2d;

    &_left {
      width: 70%;
      height: 70%;
      background: rgba($color: #ffff, $alpha: 0.3);
      position: absolute;
      top: 15%;
      left: 15%;
      border-radius: 1%;
    }
  }
  &_two {
    width: 100vw;
    height: 100vh;
    background-color: #040d2d;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &_header {
      width: 100%;
      height: 20%;
      color: white;
      display: flex;
      align-items: center;
      font-size: 3rem;
      justify-content: center;
    }
    &_cards {
      display: flex;
      width: 100%;
      overflow-x: scroll;
      height: 60%;
      align-items: center;
      justify-content: center;
      gap: 2%;
      &::-webkit-scrollbar {
        display: none;
      }
      &_card {
        transition: all 0.5s ease-in-out;
        min-width: 200px;
        width: 25%;
        aspect-ratio: 1/1;
        box-shadow: 0 0 30px 5px rgba($color: #b6d1fa, $alpha: 0.4);
        &:hover {
          box-shadow: 0 0 30px 5px rgba($color: #b6d1fa, $alpha: 0.3);
          transition: all 0.5s ease-in-out;
        }
      }
    }
    &_btn {
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;
      &_btn {
        min-width: 200px;
        width: 20%;
        height: 50%;
        background: rgb(31, 60, 221);
        border: none;
        border-radius: 20px;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        &:hover {
          transition: all 0.5s ease-in-out;
          background: linear-gradient(
            253.19deg,
            rgba(99, 123, 255, 0.85) 15.26%,
            rgb(39, 72, 255) 117.65%
          );
        }
      }
    }
  }
}


p {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  margin: 5px 5px 5px 5px;
}

h1{
  font-size: 2.5rem;
  // color: white;
  // text-align: center;
  margin: 5px 5px 5px 5px;
}

@media screen and (max-width: 630px) {
  .landing_page_container_two_cards {
    justify-content: flex-start;
  }
}
